In [7]:
for i in range(0,5):
    print("*", end=" ")

* * * * *

In [1]:
row = 5
for i in range(1,row+1):
    for j in range(1,i+1):
        print("*",end=" ")
    print(" ")

*
* *
* * *
* * * *
* * * * *

In [1]:
a =int(input("Enter the number of the rows of the pattern"))
i = 1
while i<=a:                 # based on the input value of the row
    j= 1                    # left side right angle triangle
    while j<=i:
        print("*",end = " ")
        j=j+1
    print()
    i=i+1

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [2]:
a = int(input("Enter the rows of the pattern = "))
i=a
while i>=1:
    j=1                        # based on the input value of the row
    while j<=i:                # left side inverted right angle triangle
        print("*", end = " ")
        j=j+1
    print()
    i=i-1

* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [3]:
a =int(input("Enter the number of the rows of the pattern"))
i = 1
while i<=a:                 # based on the input value of the row
    j= 1                    # left side right angle triangle
    while j<=i:
        print(i,end = " ")
        j=j+1
    print()
    i=i+1

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

In [4]:
a =int(input("Enter the number of the rows of the pattern"))
i = 1
while i<=a:                 # based on the input value of the row
    j= 1                    # left side right angle triangle
    while j<=i:
        print(j,end = " ")
        j=j+1
    print()
    i=i+1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9

In [1]:
a=int(input("Enter the number of row = "))
i=a
while i>=1:                         # based on the input value of the row
    j=1                             # left side inverted right angle triangle
    while j<=i:
        print(i,end = " ")
        j=j+1
    print()
    i=i-1

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [2]:
a=int(input("Enter the number of row = "))
i=a
while i>=1:                         # based on the input value of the row
    j=1                             # left side inverted right angle triangle
    while j<=i:
        print(j,end = " ")
        j=j+1
    print()
    i=i-1

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [24]:
for x in range(0,6,4):
    print(x,end=" ")

0 4

In [25]:
for i in range(6):
    for j in range(i):      #left side right angle triangle by for loop
        print("*", end = " ")
    print()

*
* *
* * *
* * * *
* * * * *

In [1]:
row = int(input("Enter the no. of rows = "))
for i in range(row +1):
    for j in range(i):
        print("*", end = " ")
    print()

*
* *
* * *
* * * *
* * * * *

In [5]:
for i in range(6,0,-1):
    for j in range(i):
        j=j+1                   #inverted right angle triangle left side
        print("*", end=" ")
    print()
    i=i-1

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [3]:
l = int(input("Enter length of the rectangle = "))
b = int(input("Enter the breadth of the rectangle = "))
for i in range(l):
    for j in range(b):      #code for the rectangle 
        print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *

In [20]:
for i in range(5):
    for j in range(5):
        for a in range(6,0,-1):
            for b in range(i):
                b=b+1  
                print("*",end=" ")  
        a=a-1
        print()
    print()
print()

* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

* * * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * * *

* * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * *

* * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * *

In [1]:
rows = int(input("Enter no. of the rows"))

for i in range(1, rows+1):
    for j in range(rows+1, 0, -1):
        if j > i:
            print(" ", end=" ")
        else:
            print("*", end=" ")
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [28]:
tuple(range(0,10,2))

(0, 2, 4, 6, 8)

In [5]:
row= int(input("Enter the no. of the rows =" ))
for i in range(1,row+1):
    for j in range(row+1,0,-1):     #pyramid using right angle triangle formula
        if j>i:
            print(" ",end="")
        else:
            print("*",end=" ")
    print()

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *

In [9]:
a = int(input("Enter any number = "))
n=1
for i in range(1,a):
    for j in range(a,0,-1):
        if j>i:
            print(" ",end="")
        else:
            print(n*2,end=" ")      # in place of j*2, we can also use i*2
            n=n+1      
    print()

      2
     4 6
    8 10 12
   14 16 18 20
  22 24 26 28 30
 32 34 36 38 40 42

In [10]:
n=1
for i in range(1,6):
    for j in range(6,0,-1):
        if j>i:
            print(" ",end="")
        else:
            print(2*n-1,end=" ")
            n=n+1
    print()

     1
    3 5
   7 9 11
  13 15 17 19
 21 23 25 27 29

In [16]:
k=0
for i in range(1, 6):
    for space in range(1, (6-i)+1):
        print(end=" ")
   
    while k!=(2*i-1):
        print("*", end="")
        k += 1
   
    k = 0
    print()

     *
    ***
   *****
  *******
 *********

In [22]:
for i in range(1,6):
    n=0
    for j in range(1,(6-i)+1):
        print(end="  ")         # odd pyramid
    while n!= (2*i)-1:
        print("* ",end="")
        n=n+1
    
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [6]:
n = int(input('Enter any integer (for height of triangle): '))
a = (n*2)

for i in range(0,a,2):
    print((a-i)*" ",end="")     # Made by Sikhu
    for j in range(i):
        print('*',end=" ")
    print()
    if i==0:
        print(" "*(a-1),'*',sep="")

       *
      * *
    * * * *
  * * * * * *

In [14]:
for i in range(1,6+1):
    for j in range(6+1,0,-2):     #bhurj khalifa
        if j>i:
            print(" ",end="")
        else:
            print("*",end=" ")
    print()

   *
   *
  * *
  * *
 * * *
 * * *

In [9]:
for i in range(1,6+1,2):
    for j in range(6+1,0,-2):     
        if j>i:
            print(" ",end="*")
        else:
            print("*",end=" ")
    print()

 * * **
 * ** *
 ** * *

In [1]:
for i in range(1,6+1):
    for j in range(1,(6-i)+1):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [8]:
n = int(input('Enter any integer (for height of triangle): '))
a = (n*2)

for i in range(a,0,-2):    # step me jo rakhoge uski table chal jayegi
    for j in range(i):
        print(' ',end='')
    
    if i==a:                        # ye condition pehle wale single * ko print karane ke liye hai bas
        print('*',end='')  
    else:
        print(' ',end='')           # ye condition baaki me starting ke equal space dene ke liye hai

    for j in range(0,a-i):          # ye number of * print karne ke liye hai
        print('*',end=' ')

    print()

        *
       * *
     * * * *
   * * * * * *

In [10]:
num = 1
row = int(input("Enter the number of rows for the pyramid"))
for i in range(1,row+1):
    for j in range(1,i):
        print(num,end=" ")
        num = num+1
    print()

1
2 3
4 5 6
7 8 9 10