In [4]:
#lab 1
#ques 1
a=int(input("enter first number"))
print("a = ",a)
b=int(input("Enter second number"))
print("b = ",b)
print("arithmetic operations")
print("a + b = ",a+b)
print("a - b = ",a-b)
print("a * b = ",a*b)
print("a / b = ",a/b)

a =  12
b =  24
arithmetic operations
a + b =  36
a - b =  -12
a * b =  288
a / b =  0.5

In [7]:
#ques 2 (a)
print("implementation of the (a+b)^2")
a=int(input("Enter value of a"))
b=int(input("Enter value of b"))
print("a = ",a)
print("b = ",b)
c= a**2+b**2+2*a*b
print(c)

#ques 2(b)
print("implementation of the a^2-b^2")
d= (a-b)*(a+b)
print(d)

implementation of the (a+b)^2
a =  1
b =  2
9
implementation of the a^2-b^2
-3

In [1]:
#ques 3
r=int(input("Enter the radius of the sphere"))
print("diameter of the sphere = ",2*r)
print("Surface area of the sphere = ",4*3.14*r*r)
v=4/3*(3.14*r*r*r)
print("Volume of the sphere = ",v)

diameter of the sphere =  2
Surface area of the sphere =  12.56
Volume of the sphere =  4.1866666666666665

In [2]:
#ques 4
r=int(input("Enter the radius of the cylinder"))
h=int(input("Enter the height of the cylinder"))
print("radius = ",r,"height = ",h)
print("circumference of the cylinder",2*3.14*r)
t=2*3.14*r*h
print("Curved surface area of the cylinder",t)
print("total surface of the cylinder",t+2*3.14*r)

radius =  1 height =  2
circumference of the cylinder 6.28
Curved surface area of the cylinder 12.56
total surface of the cylinder 18.84

In [2]:
#Lab 2
#q1
fname = input("Input your First Name : ")
lname = input("Input your Last Name : ")
print ("Hello  " + lname + " " + fname)

Hello  Tiwari Abha

In [3]:
#q2
def add_without_plus_operator(a, b):
    while b != 0:
        data = a & b
        a = a ^ b
        b = data << 1
    return a
print(add_without_plus_operator(2, 10))
print(add_without_plus_operator(-20, 10))
print(add_without_plus_operator(-10, -20))

12
-10
-30

In [1]:
#Q3
string = """Twinkle, twinkle, little star,  
        How I wonder what you are!  
                Up above the world so high,
                Like a diamond in the sky.  
Twinkle, twinkle, little star,  
        How I wonder what you are!"""
print(string)

Twinkle, twinkle, little star,
        How I wonder what you are!
                Up above the world so high,
                Like a diamond in the sky.
Twinkle, twinkle, little star,
        How I wonder what you are!

In [3]:
#q4
n=int(input())
n=100*n+10*n+n
n=str(n)
a=int(n)
b=int(n[:2])
n=int(n[1])
print(a+b+n)

2583

In [4]:
#lab 3

In [7]:
#q2
x, y, z = input("avg3: ").split()
print("Average of " + (x) + ", " + (y) + " and " + (z) + " is " , (int(x)+int(y)+int(z))/3)

Average of 1, 2 and 3 is  2.0

In [8]:
#q1
x=[1,2,3,3,4,2.3,3.4,5.3]
s=sum(x)
avg=s/len(x)
print("sum = ",s,"average = ",avg)

sum =  24.0 average =  3.0

In [9]:
#Q3
x=(12,23,3,445,45,65,43,43,434)
y=(1,2,3,4,5,6,7)
z=x+y
print(z)
a=(z,)*2
print(a)

(12, 23, 3, 445, 45, 65, 43, 43, 434, 1, 2, 3, 4, 5, 6, 7)
((12, 23, 3, 445, 45, 65, 43, 43, 434, 1, 2, 3, 4, 5, 6, 7), (12, 23, 3, 445, 45, 65, 43, 43, 434, 1, 2, 3, 4, 5, 6, 7))

In [10]:
#q4
a=(1,2,3,4,5,6,7,7,8,9)
b=int(input("enter number "))
if b in a:
    print("Yes")
else:
    print("No")

No

#lab 6

In [14]:
#q1
def findmax(a,b,c):
    return max(c,max(a,b))
a=int(input())
b=int(input())
c=int(input())
print("a = ",a,"b = ",b,"c = ",c)
findmax(a,b,c)

a =  1 b =  2 c =  3

3

In [15]:
#q2
a=[1,2,3,4,5,6,7]
sum=0;
for i in a:
    sum=sum+i
print(sum)

28

In [19]:
#q3
def rev(str):
    return str[::-1]
str=input()
print(str)
print(rev(str))

shiva
avihs

In [22]:
#q4
def unique(q):
    x=[]
    for a in q:
        if a not in x:
            x.append(a)
    return x

print(unique([1,2,3,3,4,5,5,23,6,88,787,8,65,3]))

[1, 2, 3, 4, 5, 23, 6, 88, 787, 8, 65]

#lab 7

In [23]:
#q1
def a(*args):
    result = args[0]
    for num in args:
        print(num)

a(2,3,4,5,6,7,8,9)

2
3
4
5
6
7
8
9

In [24]:
#Q2
def calculation(x,y):
    return x+y, x-y
x,y = calculation(3,2);
print("x = ",x)
print("y = ",y)

x =  5
y =  1

In [25]:
#Q3
def func(employee, salary = 9000):
    print("employee = ",employee)
    print("Salary = ",salary)
func("Shiv",3000)
func("Bhole")

employee =  Shiv
Salary =  3000
employee =  Bhole
Salary =  9000

In [26]:
#Q4
def func(a,b):
    def calcul(a,b):
        return a+b
    res =calcul(a,b) +5
    return res
func(2,2)

9

#lab 8

In [28]:
#Q1
f = open("Engineer.txt","r")
content = f.read(5)
print(content)
f.close()

time

In [30]:
#q2
f = open("Engineer.txt","r")
print(f.readline())
f.close()

time is running very fast. No one is able to control their time and complete their assignments on time.

In [31]:
#Q3
f = open("Engineer.txt","r")
a = 0
for i in f:
    a=a+1

print('number of lines in Engineer.txt is', a)
f.close()

number of lines in data.text 3

In [33]:
#Q4
f = open("Engineer.txt","w")
nameList = []

for i in range(5):
    nameList.append(input("Enter the name "))

for i in nameList:
    f.write(i)
    f.write(' ')

f.close()

data recored in the file

#lab 9

In [2]:
#a)
class Vehicle:
    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage

car = Vehicle(220,10000)
print(car.max_speed, car.mileage)

220 10000

In [3]:
# b)
class Veh:
    def __init__(self, name, max_speed, mileage):
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage

class Bus(Veh):
    pass

school_bus = Bus("School Volvo", 180, 12)
print("Vehicle Name: ", school_bus.name, "Speed: ",school_bus.max_speed,"Mileage: ", school_bus.mileage)

Vehicle Name:  School Volvo Speed:  180 Mileage:  12

In [6]:
# c)
class Vehicle:
    def __init__(self,name, max_speed, mileage):
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage

    def seating_capacity(self, capacity):
        return f"The seating capacity of a {self.name} is {capacity} passengers"

class bus(Vehicle):
    def seating_capacity(self, capacity=50):
        return f"The seating capacity of a {self.name} is {capacity} passengers"
bus("school bus", 120, 2990).seating_capacity()

'The seating capacity of a school bus is 50 passengers'

In [8]:
# d)
class Vehicle:
    color = "white"

    def __init__(self, name, max_speed, mileage):
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage

class Bus(Vehicle):
    pass

class Car(Vehicle):
    pass

School_bus = Bus("School volvo", 180, 12)
print(School_bus.color, School_bus.name, "Speed : ",School_bus.max_speed, "mileage : ",School_bus.mileage)

car = Car("Audi", 245, 12)
print(car.color, car.name,"Speed : ",car.max_speed,"Mileage : ",car.mileage)

white School volvo Speed :  180 mileage :  12
white Audi Speed :  245 Mileage :  12

In [ ]:
#lab 10

In [9]:
#Q1
import re
s = ">time >is >running >oh<12 >23 >[a] >@ >& "
lit = re.findall(">\w+",s)
print (lit)

['>time', '>is', '>running', '>oh', '>23']

In [14]:
#Q2
import re
a= '''mama@gmail.com Lorem ipsum
Delhi of the capital of the country India
whole country time is control by the standard meridian lies in the mirzapur'''
lit = re.findall("\S+@\S+",a)
print(lit)

['mama@gmail.com']

In [15]:
#q3
import re

a = "mama@gmail.com mamaearth 234"
lit = re.findall("\S+@",a)
print(lit)

['mama@']

In [16]:
#q4
import re
a= '''mama@gmail.com Lorem ipsum
Delhi of the capital of the country India
whole country time is control by the standard meridian lies in the mirzapur'''
lit = re.findall("(\S+)@",a)
print(lit)

['mama']