## 1. Python Data types

### 1. Numbers

In [1]:
# 1. integer 2. Boolean 3. complex 4. floating point
a = 34
b = 45.56
c = 4 + 4j
v = (a == c)
print(type(a))
print(type(b))
print(type(c))
print(type(v))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>

### 2. String

In [2]:
d = "True"
e = 'Hello world this is the python basics'
print(type(d))
print(type(e))

#concatenation
print(d+", "+e)

<class 'str'>
<class 'str'>
True, Hello world this is the python basics

### 3. List

In [3]:
a = [2,3.44,0, True,"Hello world"]
print(a)
b = [3,4.53,1,False," Time is running"]
print(b)

[2, 3.44, 0, True, 'Hello world']
[3, 4.53, 1, False, ' Time is running']

In [4]:
a[3]

True

In [5]:
a[4] = "world"
print(a)
type(a[1])

[2, 3.44, 0, True, 'world']

float

In [6]:
a+b
print(a+b)
type(a+b)

[2, 3.44, 0, True, 'world', 3, 4.53, 1, False, ' Time is running']

list

### 4. Tuple

In [7]:
b = (23,3.44,"Hello Duniya")          # Tuple is immutable. we cann't change it
print(a)

[2, 3.44, 0, True, 'world']

In [8]:
b[0]

23

In [9]:
type(b)

tuple

In [10]:
type(b[2])

str

### 5. Set

In [11]:
d = {1,2,3,3,4.45,"Hello Duniya"}        # Set is immutable
print(d)

{1, 2, 3, 4.45, 'Hello Duniya'}

### 6. Dictionary

In [12]:
e = {1:"Hello", 2:"Namaste", 3:"Hola"}
print(e)

{1: 'Hello', 2: 'Namaste', 3: 'Hola'}

In [13]:
e[2]

'Namaste'

## 2. Conditional Statements
#### 1. if
#### 2. if-else
#### 3. if-elif-else

In [14]:
ab = (input("Enter any sentence "))
abc = int(input("Enter any number "))

Enter any sentence 78
Enter any number 89

In [15]:
z = int(input("Enter any number between 0 and 100"))
if z>=80:
    print("Good")
elif z>=60 and z<80:
    print("Okay")
else:
    print("Needs improvement")

Enter any number between 0 and 10034
Needs improvement

In [16]:
 s = int(input("Enter any number "))
if s>=50:
    if s%2 == 0:
        print("Number is even and greater than 50")
    else:
        print("Number is not even and greater than 50")
else:
    if s%2 == 1:
        print("NUMBER is odd and less than 50 ")
    else:
        print("Number is not odd and less than 50 ")

Enter any number 5
NUMBER is odd and less than 50

In [17]:
z = int(input("Enter any number between 0 and 100 :"))
if z>=80:
    print("Good")
if z>=60 and z<80:
    print("Okay")

Enter any number between 0 and 100 :543
Good

## 3. Iterative Statements
#### 1. for loop
#### 2. while loop

In [18]:
a = "hello World"
for i in a:
    print(i)

h
e
l
l
o

W
o
r
l
d

In [19]:
for i in range(0,20,2):
    print(i)

0
2
4
6
8
10
12
14
16
18

In [5]:
# factorial of 10
a = int(input("Enter any number: "))
p = 1
for i in range(1,a+1,1):
    p = i*p
print("factorial of",a,"is:",p)

Enter any number: 3
factorial of 3 is: 2

In [21]:
i = 4
while i>3:
    print(i)
    i = i-1

4

## 4. Functions

In [67]:
# factorial through functions
def fact (a):
    p = 1
    for i in range(1,a+1,1):
        p = i*p
    return p
print("factorial: ",fact(3))

factorial:  6

In [42]:
# permutation and combination problem
# n!and r! n!/r!*(n-r)!
n = int(input("Enter value of n: "))
r = int(input('''Enter value of r (always remember r is smaller than n): ''' ))
fact_n = 1
for i in range(1,n+1,1):
    fact_n = i*fact_n
    
fact_r = 1    
for i in range(1,r+1,1):
    fact_r = i*fact_r
    
fact_n_r = 1
for i in range(1,(n-r)+1,1):
    fact_n_r = i*fact_n_r
    
comb = fact_n/(fact_r * fact_n_r)
print("Combination: " ,comb)

Enter value of n: 4
Enter value of r (always remember r is smaller than n): 2
Combination:  6.0

In [68]:
#combination through functions
def factorial(value):
    fact = 1
    for i in range(1,value+1):
        fact = i*fact
    return fact

comb = factorial(n)/(factorial(r) * factorial(n-r))
n = 4
r = 2
print("combination: ",comb)

combination:  6.0

In [70]:
#user defined function for function
def factorial(value):
    fact = 1
    for i in range(1,value+1):
        fact = i*fact
    return fact
n=int(input("Enter any positive value for n: "))
r=int(input("Enter any positive value for r: "))

cobination = factorial(n)/(factorial(r)*factorial(n-r))
print("combination",cobination)

Enter any positive value for n: 4
Enter any positive value for r: 2
combination 6.0